{% extends 'layouts.html' %}
{% load static %}

{% block carrera_display %}display: block;{% endblock %}
{% block malla_active %}link-current{% endblock %}

{% block content %}
  <div class="content-box mb-3">
    {% if alert %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>¡La Malla fue agregada con exito!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <h1>
      Agregar Malla
    </h1>
    <br>
    <div class="row">
      <div class="col-12">
        <form action="" method="POST">
          {% csrf_token %}
          {{ malla_form.cod }}
          <p class="form-text text-muted">Solo están permitidos caracteres alfanuméricos y guiones. Ej: PNFI-2019.</p>

          {#  #}
          <div class="accordion" id="accordionT">
            {% for subestructura in subestructuras %}
              <div class="card"> <!-- inicio -->
                <div class="card-header p-1" id="Trayecto{{subestructura.pk}}" style="background-color:#00005b;">
                  <h2 class="mb-0">
                    <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseT{{subestructura.pk}}" aria-expanded="true" aria-controls="collapseT{{subestructura.pk}}" style="font-size: 14px;">
                      <strong>{{subestructura.nombre}} ({{subestructura.codigo}})</strong>
                    </button>
                  </h2>
                </div>
                <div id="collapseT{{subestructura.pk}}" class="collapse" aria-labelledby="Trayecto{{subestructura.pk}}">
                  <div class="card-body p-0">
                    {# Inicio TT #}
                    <div class="accordion" id="accordionTT">
                      {% for tt in subestructura.tt.all %}
                        <div class="card"> <!-- inicio -->
                          <div class="card-header p-1" id="Trayecto{{tt.pk}}">
                            <h2 class="mb-0">
                              <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseTT{{tt.pk}}" aria-expanded="true" aria-controls="collapseTT{{tt.pk}}" style="font-size: 14px;">
                                {{tt.nombre}} ({{tt.codigo}})
                              </button>

                              <i class="fas fa-trash-o fa-fw" title="Quitar unidad curricular"></i>
                            </h2>
                          </div>
                          <div id="collapseTT{{tt.pk}}" class="collapse" aria-labelledby="Trayecto{{tt.pk}}">
                            <div class="card-body px-1 py-0">
                              {% for x in tt.malla_uce_sub_sub_estructura.all %}
                                <div class="border-bottom p-3">
                                  <h3 style="font-size: 14px;"><strong>{{x.unidad_credito.nombre}}({{x.unidad_credito.codigo}})</strong></h3>
                                  <input type="hidden" name="mallauce_pk" value="{{x.pk}}">
                                  <div>
                                    <label>
                                      {{x.mallauce_form.laboratorio}}
                                      {{x.mallauce_form.laboratorio.label}}
                                    </label>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                      {{x.mallauce_form.horas_teoricas.label_tag}}
                                      <div>{{x.mallauce_form.horas_teoricas}}</div>
                                    </div>
                                    <div class="col-md-6">
                                      {{x.mallauce_form.horas_practicas.label_tag}}
                                      <div>{{x.mallauce_form.horas_practicas}}</div>
                                    </div>
                                  </div>
                                </div>
                              {% endfor %}
                              <div class="text-center p-2">
                                <a
                                  href="{% url 'carrera:malla_add' %}"
                                  class="text-danger"
                                  data-toggle="tooltip"
                                  data-placement="top"
                                  title="Agregar Unidad Curricular">
                                  <span class="list-icon">
                                    <i class="fas fa-plus"></i>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div> <!-- fin -->
                      {% endfor %}
                    </div>
                    {# FIN TT #}
                  </div>
                </div>
              </div> <!-- fin -->
            {% endfor %}

          </div>

          {#  #}
          <br>
          <input type="submit" class="btn btn-primary btn-block" value="Guardar">
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}{% endblock %}