{% extends 'layouts.html' %}
{% load static %}

{% block docentes_display %}display: block;{% endblock %}
{% block docentes_active %}link-current{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'dist/data_tables/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block content %}
  <div class="content-box mb-3">
    {% if alert %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>¡El Docente fue eliminado con éxito!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <h1>Docentes</h1>
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-bordered table-hover table-sm datatables">
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          {% if perms.docentes.add_docentes %}
            <tfoot>
              <tr>
                <th colspan="4" class="text-center">
                  <a
                    href="{% url 'docentes:docente_add' %}"
                    class="text-danger"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Agregar Profesor">
                    <span class="list-icon">
                      <i class="fas fa-plus"></i>
                    </span>
                  </a>
                </th>
              </tr>
            </tfoot>
          {% endif %}
          <tbody>
            {% for docente in docentes %}
              <tr>
                <td>{{docente.cedula}}</td>
                <td>{{docente.nombre}}</td>
                <td>{{docente.apellido}}</td>
                <td class="text-center">
                  {% if perms.docentes.view_docentes %}
                  <a
                    href="{% url 'docentes:docente-detail' docente.pk %}"
                    class="btn btn-outline-danger btn-sm"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ver Docente">
                    <span class="list-icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </a>
                  {% endif %}
                  {% if perms.docentes.change_docentes %}
                  <a
                    href="{% url 'docentes:docente_edit' docente.pk %}"
                    class="btn btn-outline-danger btn-sm"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Editar Docente">
                    <span class="list-icon">
                      <i class="fas fa-edit"></i>
                    </span>
                  </a>
                  {% endif %}
                  {% if perms.docentes.delete_docentes %}
                  <form action="" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="docente" value="{{ docente.pk }}">
                    <button
                      class="btn-delete btn btn-outline-danger btn-sm"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Eliminar Docente">
                      <span class="list-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
<script src="{% static 'dist/data_tables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/data_tables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/dataTable_init.js' %}"></script>

<script>
  $(function () {
    $(".btn-delete").click(function (e) {
      e.preventDefault();
      a = confirm('¿Estas seguro que deseas eliminar este docente?')
      if (a) {
        $(this).parent('form').submit();  
      }
    });
  });
</script>
{% endblock %}