{% extends 'layouts.html' %}
{% load static %}

{% block planificacion_display %}display: block;{% endblock %}
{% block secciones_active %}link-current{% endblock %}

{% block content %}
  <div class="content-box mb-3">
    <h1>Periodo Academico {{seccion.periodo.periodo}}, Sección "{{seccion}}", {{seccion.periodo}}</h1>
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th>Unidad Curricular</th>
              <th>Docente</th>
            </tr>
          </thead>
          <tbody>
            {% for sp in sps %}
              <tr>
                <td>{{sp.unidad_curricular}}</td>
                <td>{{sp.docentes}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}