{% extends 'layouts.html' %}
{% load static %}

{% block planificacion_display %}display: block;{% endblock %}
{% block periodos_active %}link-current{% endblock %}

{% block content %}
  <div class="content-box mb-3">
    <h1>Período Académico {{malla_periodo.0.periodo.nombre}}</h1>
    <br>
    <div class="row">
      {% for mp in malla_periodo %}
        <div class="col-12">
          <h3 class="page-header">
            {{mp.trimestre.subestructura.nombre}}-{{mp.trimestre.nombre}}({{mp.trimestre}})
            <a
              href="{% url 'seccion_add' mp.periodo.pk mp.pk %}"
              class="btn-sm text-success"
              data-toggle="tooltip"
              data-placement="top"
              title="Agregar otra sección">
              <span class="list-icon">
                <i class="fas fa-plus"></i>
              </span>
            </a>
          </h3>
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Turno</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for sec in mp.seccion_malla_periodo.all %}
                <tr>
                  <td>{{sec.codigo}}</td>
                  <td>Sección {{sec.nombre}}</td>
                  <td>{{sec.turno}}</td>
                  <td class="text-right pr-5">
                    <a
                      href="{% url 'horario' sec.pk %}"
                      class="btn btn-outline-danger btn-sm"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Horario">
                      <span class="list-icon">
                        <i class="fas fa-calendar"></i>
                      </span>
                    </a>
                    <a
                      href="{% url 'seccion_ver' mp.periodo.pk sec.pk %}"
                      class="btn btn-outline-danger btn-sm"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Ver Sección">
                      <span class="list-icon">
                        <i class="fas fa-search"></i>
                      </span>
                    </a>
                    <a
                      href="{% url 'seccion' mp.periodo.pk sec.pk %}"
                      class="btn btn-outline-danger btn-sm"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar Sección">
                      <span class="list-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                    </a>
                    <form action="" method="POST" class="d-inline">
                      {% csrf_token %}
                      <input type="hidden" name="seccion" value="{{ sec.pk }}">
                      <button
                        class="btn-delete btn btn-outline-danger btn-sm"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Eliminar Sección">
                        <span class="list-icon">
                          <i class="fas fa-trash"></i>
                        </span>
                      </button>
                    </form>
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="4" class="text-center">No tiene secciones asignadas</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  $(function () {
    $(".btn-delete").click(function (e) {
      e.preventDefault();
      a = confirm('¿Estas seguro que deseas eliminar esta seccion?')
      if (a) {
        $(this).parent('form').submit();  
      }
    });
  });
</script>
{% endblock %}