{% extends 'layouts.html' %}
{% load static %}
{% load filter_tag %}

{% block planificacion_display %}display: block;{% endblock %}
{% block periodos_active %}link-current{% endblock %}

{% block css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="content-box mb-3">
    <h1>Período Académico {{seccion.periodo.periodo}}, Sección "{{seccion}}", {{seccion.periodo}}</h1>
    <br>
    <div class="row">
      <div class="col-12">

        {# ---------------------------------------------------------------------------- #}
        <div id="collapse" class="collapse show" aria-labelledby="UC-{{ m.unidad_curricular.value }}" style="">
          <div class="card-body p-0">
            
            <div class="accordion" id="accordionTT">
              {% for m in seccion_periodo_form %}
                <div class="card"> <!-- inicio -->
                  <div class="card-header p-1" id="UC-{{ m.unidad_curricular.value }}">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link text-dark"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse{{ m.unidad_curricular.value }}"
                        aria-expanded="true"
                        aria-controls="collapse{{ m.unidad_curricular.value }}"
                        style="font-size: 14px;"
                      >
                      {% unidades_curricular m.unidad_curricular.value %}
                      </button>
                      
                      {% if perms.planificacion.delete_seccion %}
                        <form action="" method="POST" class="d-inline eliminar_uc">
                          {% csrf_token %}
                          {{ m.unidad_curricular }}
                          <input type="hidden" name="seccion_periodo" value="{{ m.id.value }}">
                          <button
                            class="
                              btn
                              btn-sm
                              btn-link
                              text-danger
                              float-right
                              btn-delete"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Eliminar Unidad Curricular">
                            <span class="list-icon">
                              <i class="fas fa-trash"></i>
                            </span>
                          </button>
                        </form>
                        {% endif %}
                    </h2>
                  </div>
                  <div
                    id="collapse{{ m.unidad_curricular.value }}"
                    class="collapse show"
                    aria-labelledby="UC-{{ m.unidad_curricular.value }}"
                  >
                    <div class="card-body px-1 py-0">
                      <div class="border-bottom p-3">
                        <div class="row">
                          <div class="col-md-3">
                            <div>{{ m.docentes.label }}</div>
                            <div>{{ m.docentes }}</div>
                            {% if m.docentes.errors %}
                              {% for error in m.docentes.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                          <div class="col-md-3">
                            <div>{{ m.suplente.label }}</div>
                            <div>{{ m.suplente }}</div>
                          </div>
                          <div class="col-md-3">
                            <div>{{ m.horas_teoricas.label }}</div>
                            <div>{{ m.horas_teoricas }}</div>
                          </div>
                          <div class="col-md-3">
                            <div>{{ m.horas_practicas.label }}</div>
                            <div>{{ m.horas_practicas }}</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div>{{ m.dia.label }}</div>
                            <div>{{ m.dia }}</div>
                            {% if m.dia.errors %}
                              {% for error in m.dia.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                          <div class="col-md-3">
                            <div>{{ m.hora_desde.label }}</div>
                            <div>{{ m.hora_desde }}</div>
                            {% if m.hora_desde.errors %}
                              {% for error in m.hora_desde.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                          <div class="col-md-3">
                            <div>{{ m.hora_hasta.label }}</div>
                            <div>{{ m.hora_hasta }}</div>
                            {% if m.hora_hasta.errors %}
                              {% for error in m.hora_hasta.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                          <div class="col-md-3">
                            <div>{{ m.salon.label }}</div>
                            <div>{{ m.salon }}</div>
                            {% if m.salon.errors %}
                              {% for error in m.salon.errors %}
                                <small class="form-text text-danger">{{ error }}</small>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> <!-- fin -->
              {% endfor %}
            </div>
          </div>
        </div>
        <br>

        <form id="save_seccion_periodo" action="" method="POST">
          {% csrf_token %}
          {{ seccion_periodo_form.management_form }}
          {% for m in seccion_periodo_form %}
            {{ m.unidad_curricular }}
            {{ m.seccion }}
            {{ m.id }}
          {% endfor %}
          <input class="btn btn-primary btn-block" type="submit" value="Guardar">
          <a href="{% url 'secciones' seccion.periodo.periodo.pk %}" class="btn btn-primary btn-block">Volver</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.select2').select2({ width: '100%' });
      $(".btn-delete").click(function (e) {
        e.preventDefault();
        a = confirm('¿Estas seguro que deseas eliminar esta unidad curricular?')
        if (a) {
          $(this).parent('.eliminar_uc').submit();  
        }
      });

      $(document).on('click', '.btn-delete-2', function (e) {
        $(this).parents('tr').remove()
      });

/*      function cloneMore(selector, prefix) {
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var newElement = `
          <tr class="form-row-">
            <td>
              <select
                name="seccionperiodo_set-${total}-unidad_curricular"
                form="save_seccion_periodo"
                class="form-control select2"
                id="id_seccionperiodo_set-${total}-unidad_curricular">
                ${$('#unidadesc_option').html()}
              </select>
            </td>
            <td>
              <select
                name="seccionperiodo_set-${total}-docentes"
                form="save_seccion_periodo"
                class="form-control select2"
                id="id_seccionperiodo_set-${total}-docentes">
                ${$('#docentes_option').html()}
              </select>
            </td>
            <td>
              <input
                type="number"
                name="seccionperiodo_set-${total}-horas_teoricas"
                value="0.0"
                step="any"
                form="save_seccion_periodo"
                class="form-control form-control-sm"
                id="id_seccionperiodo_set-${total}-horas_teoricas"></td>
            <td>
              <input
                type="number"
                name="seccionperiodo_set-${total}-horas_practicas"
                value="0"
                step="any"
                form="save_seccion_periodo"
                class="form-control form-control-sm"
                id="id_seccionperiodo_set-${total}-horas_practicas">
            </td>
            <td>
              <button
                class="btn-delete-2 btn btn-outline-danger btn-sm"
                data-toggle="tooltip"
                data-placement="top"
                title="Eliminar Unidad Curricular">
                <span class="list-icon">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
            </td>
          </tr>`;
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        $('.select2').select2();
        return false;
      }

      $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row-:last', 'seccionperiodo_set');
        return false;
      });*/
    });
  </script>
{% endblock %}