{% extends 'layouts.html' %}
{% load static %}

{% block carrera_display %}display: block;{% endblock %}
{% block uc_active %}link-current{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'dist/data_tables/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block content %}
  <div class="content-box mb-3">
    {% if alert %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>¡La Unidad Curricula fue eliminada con exito!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    <h1>
      Unidades Curriculares
    </h1>
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-bordered table-hover table-sm datatables">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Unidad de Crédito</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          {% if perms.carrera.add_unidadcurricular %}
            <tfoot>
              <tr>
                <th colspan="4" class="text-center">
                  <a
                    href="{% url 'carrera:ucurricular_add' %}"
                    class="text-danger"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Agregar Unidad Curricular">
                    <span class="list-icon">
                      <i class="fas fa-plus"></i>
                    </span>
                  </a>
                </th>
              </tr>
            </tfoot>
          {% endif %}
          <tbody>
            {% for uc in unidades_curriculares %}
              <tr>
                <td>{{uc.codigo}}</td>
                <td>{{uc.nombre}}</td>
                <td>{{uc.uni_credi}}</td>
                <td class="text-center">
                  {% if perms.carrera.view_unidadcurricular %}
                    <a
                      href="{% url 'carrera:ucurricular-detail' uc.pk %}"
                      class="btn btn-outline-danger btn-sm"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Ver Unidad Curricular">
                      <span class="list-icon">
                        <i class="fas fa-search"></i>
                      </span>
                    </a>
                  {% endif %}
                  {% if perms.carrera.change_unidadcurricular %}
                    <a
                      href="{% url 'carrera:ucurricular_edit' uc.pk %}"
                      class="btn btn-outline-danger btn-sm"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Editar Unidad Curricular">
                      <span class="list-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                    </a>
                  {% endif %}
                  {% if perms.carrera.delete_unidadcurricular %}
                    <form action="" method="POST" class="d-inline">
                      {% csrf_token %}
                      <input type="hidden" name="uc" value="{{ uc.pk }}">
                      <button
                        class="btn-delete btn btn-outline-danger btn-sm"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Eliminar Unidad Curricular">
                        <span class="list-icon">
                          <i class="fas fa-trash"></i>
                        </span>
                      </button>
                    </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'dist/data_tables/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dist/data_tables/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/js/dataTable_init.js' %}"></script>
<script>
  $(function () {
    $(".btn-delete").click(function (e) {
      e.preventDefault();
      a = confirm('¿Estas seguro que deseas eliminar esta Unidad Curricular?')
      if (a) {
        $(this).parent('form').submit();
      }
    });
  });
</script>
{% endblock %}