{% extends 'layouts.html' %}
{% load static %}

{% block planificacion_display %}display: block;{% endblock %}
{% block periodos_active %}link-current{% endblock %}

{% block content %}
  <div class="content-box mb-3">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">
          HORARIO {{ s.periodo.trayecto }}, {{ s.periodo.trimestre.nombre }} <br>
          PNF INFORMATICA (SECCION {{ s.nombre }})
        </h4>
      </div>
    </div>

    <br>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md">
          <div>{{ horario_form.materia.label }}</div>
          <div>{{ horario_form.materia }}</div>
          {% if horario_form.materia.errors %}
            {% for error in horario_form.materia.errors %}
              <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md">
          <div>{{ horario_form.salon.label }}</div>
          <div>{{ horario_form.salon }}</div>
          {% if horario_form.salon.errors %}
            {% for error in horario_form.salon.errors %}
              <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md">
          <div>{{ horario_form.dia.label }}</div>
          <div>{{ horario_form.dia }}</div>
          {% if horario_form.dia.errors %}
            {% for error in horario_form.dia.errors %}
              <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md">
          <div>{{ horario_form.hora_desde.label }}</div>
          <div>{{ horario_form.hora_desde }}</div>
          {% if horario_form.hora_desde.errors %}
            {% for error in horario_form.hora_desde.errors %}
              <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
        <div class="col-md">
          <div>{{ horario_form.hora_hasta.label }}</div>
          <div>{{ horario_form.hora_hasta }}</div>
          {% if horario_form.hora_hasta.errors %}
            {% for error in horario_form.hora_hasta.errors %}
              <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <br>
      <input type="submit" class="btn btn-primary btn-block" value="Agregar">
    </form>
    <br>

    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table border="1" width="100%" class="table">
            <thead>
              <tr>
                <th>Hora</th>
                {% for dia in dias %}
                  <th>{{ dia.0 }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for hora in horas %}
                <tr>
                  <td>{{ hora.1 }}</td>
                  {% for dia in dias %}
                    <td id="{{dia.0}}-{{hora.0}}"></td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a href="{% url 'secciones' periodo %}" class="btn btn-primary btn-block">Volver</a>
  </div>
  
{% endblock %}

{% block javascript %}
<script>
    m = JSON.parse('{{ materias|safe }}');
    console.log(m)
    m.map((m)=>{
      a = `${m.dia}-${m.desde}`
      $('#' + a).attr('rowspan', m.cant);

      for (var i = 1; i < m.cant; i++) {
        id_delete = `${m.dia}-${parseInt(m.desde) + parseInt(i)}`
        console.log(id_delete)
        $('#' + id_delete).remove();
      }
      
      data = `<div>
        <span style="font-size: 10px;">${m.unidad_curricular}</span><br>
        <span style="font-size: 10px;">${m.docente.apellido} ${m.docente.nombre}</span><br>
        <span style="font-size: 10px;">Seccion ${m.seccion}: ${m.salon}</span>
      </div>`
      // data = `<strong>${m.dia}-${parseInt(m.desde)}</strong>`
      $('#' + a).html(data);

    });
</script>
{% endblock %}

<!--<style>
  .table {
    display: table;
    height:auto;
    border: 2px solid black; 
  }

  .cell {
    display:table-cell;
    vertical-align:top;
  }

  .cell p{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    margin: 0;
  }
  .cell p:last-child{
    border-bottom: 0px solid black;
  }

  .container {
    height: 100%;
    overflow:auto;
    border: 2px solid green;
    -moz-box-sizing: border-box;
  }
</style>
<div class="table">
  <div class="cell">
    <p>Hora</p>
    {% for hora in horas %}
      <p>{{ hora.1 }}</p>
    {% endfor %}
  </div>
  <div class="cell">
    <p>Lunes</p>
  </div>
  <div class="cell">
    <p>Martes</p>
  </div>
  <div class="cell">
    <p>Miercoles</p>
  </div>
  <div class="cell">
    <p>Jueves</p>
  </div>
  <div class="cell">
    <p>Viernes</p>
  </div>
</div> -->