{% extends 'layouts.html' %}
{% load static %}

{% block planificacion_display %}display: block;{% endblock %}
{% block periodos_active %}link-current{% endblock %}

{% block content %}
  <!-- one box -->
  <div class="content-box mb-3">
      <h1 class="page-header">Nueva Planificación Académica</h1>
      <form id="periodo_form" action="" method="POST">
          {% csrf_token %}
          
          <div class="row">
            <div class="col-md-2 form-group {% if periodo_form.codigo.errors %}parsley-error{% endif %}">
              {{ periodo_form.codigo }}
              {% if periodo_form.codigo.help_text %}
                <p class="help">{{ periodo_form.codigo.help_text|safe }}</p>
              {% endif %}
              {% for error in periodo_form.codigo.errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
            
            <div class="col-md-10 form-group {% if periodo_form.nombre.errors %}parsley-error{% endif %}">
              {{ periodo_form.nombre }}
              {% if periodo_form.nombre.help_text %}
                <p class="help">{{ periodo_form.nombre.help_text|safe }}</p>
              {% endif %}
              {% for error in periodo_form.nombre.errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
            
            <div class="col-md-6 form-group {% if periodo_form.fecha_inicio.errors %}parsley-error{% endif %}">
              {{ periodo_form.fecha_inicio }}
              {% if periodo_form.fecha_inicio.help_text %}
                <p class="help">{{ periodo_form.fecha_inicio.help_text|safe }}</p>
              {% endif %}
              {% for error in periodo_form.fecha_inicio.errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="col-md-6 form-group {% if periodo_form.fecha_fin.errors %}parsley-error{% endif %}">
              {{ periodo_form.fecha_fin }}
              {% if periodo_form.fecha_fin.help_text %}
                <p class="help">{{ periodo_form.fecha_fin.help_text|safe }}</p>
              {% endif %}
              {% for error in periodo_form.fecha_fin.errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
          </div>

          <div class="row">
            <!--
            <div class="col-md-3 form-group {% if malla_form.malla.errors %}parsley-error{% endif %}">
              {{ malla_form.malla }}
              {% if malla_form.malla.help_text %}
                <p class="help">{{ malla_form.malla.help_text|safe }}</p>
              {% endif %}
              {% for error in malla_form.malla.errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
            -->
            
            <div class="col-md-3 form-group {% if malla_form.subestructura.errors %}parsley-error{% endif %}">
              {{ malla_form.subestructura }}
              {% if malla_form.subestructura.help_text %}
                <p class="help">{{ malla_form.subestructura.help_text|safe }}</p>
              {% endif %}
              {% for error in malla_form.subestructura.errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="col-md-3 form-group {% if malla_form.sub_subestructura.errors %}parsley-error{% endif %}">
              {{ malla_form.sub_subestructura }}
              {% if malla_form.sub_subestructura.help_text %}
                <p class="help">{{ malla_form.sub_subestructura.help_text|safe }}</p>
              {% endif %}
              {% for error in malla_form.sub_subestructura.errors %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
            
            <div class="col-md-3 form-group">
              <select name="" id="type-seccion" class="form-control form-control-sm">
                <option value="seccion-recular">Sección Recular</option>
                <option value="prosecusion">Prosecusión</option>
                <option value="prosecusion-fin-de-semana">Prosecusión fin de semana</option>
              </select>
            </div>

            <div class="col-md-3 form-group">
              <input id="id_secciones" class="form-control form-control-sm" type="number" name="" value="" placeholder="Nº Secciones" min="1">
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <button id="addPlanificacion" type="button" class="btn btn-secondary btn-block"> <i class="fas fa-plus"></i></button>
            </div>
          </div>

          <br>
          <div id="table_tt" class="row">
            {% for mp in periodo.malla_periodo_p.all %}
              {% if mp.trimestre.parentId %}
                <div class="col-md-4 tt">
                  <div class="d-flex justify-content-between">
                    <h3 class="page-header">{{mp.trimestre.parentId.subestructura.nombre}} {{mp.trimestre.parentId.nombre}}</h3>
                    <a href="javascript:void(0);" class="text-danger btn-delete"><i class="fas fa-trash-alt"></i></a>
                  </div>

                  <table class="table table-hover">
                    <input type="hidden" name="secciones[]" value="{{mp.secciones}}">
                    <input type="hidden" name="tt[]" value="{{mp.trimestre.parentId.pk}}">
                    <thead>
                      <tr>
                        <th>Unidad Curricular</th>
                        <th>Nº Hra. T.</th>
                        <th>Nº Hra. P.</th>
                        <th>Total Hra.</th>
                        <th>Nº Sección</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for a in mp.trimestre.parentId.malla_uce_ss_estruct.all %}
                        <tr>
                          <td>{{a.unidad_credito.nombre}}</td>
                          <td>{{a.horas_teoricas}}</td>
                          <td>{{a.horas_practicas}}</td>
                          <td>{{a.horas_total}}</td>
                          <td>{{mp.secciones}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
            {% endfor %}  
          </div>
          
          <br>
          <input id="btn_save" class="btn btn-primary btn-block" type="submit" value="Guardar">
      </form>
  </div>
{% endblock %}

{% block javascript %}
<script>
  $(document).on('click', '.btn-delete', function(){
    $(this).parents('.col-md-4').remove()
  });

  $("#id_malla").change(function () {
    let malla = $(this).val();
    $.ajax({
      url: '/ajax/trayecto/',
      data: {
        'malla': malla
      },
      dataType: 'json',
      success: function (data) {
        if (data.status) {
          let select = '<option value="">Selecciona un Trayecto</option>'
          for(i in data.results){
            select += `<option value="${data.results[i].pk}">${data.results[i].nombre}</option>`
            $("#id_subestructura").html(select)
          }
        }
      }
    });
  });

  $("#id_subestructura").change(function () {
    let trayecto = $(this).val();
    $.ajax({
      url: '/ajax/trimestre/',
      data: {
        'trayecto': trayecto
      },
      dataType: 'json',
      success: function (data) {
        if (data.status) {
          let select = '<option value="">Selecciona un Trimestre</option>'
          for(i in data.results){
            select += `<option value="${data.results[i].pk}">${data.results[i].nombre}(${data.results[i].codigo})</option>`
            $("#id_sub_subestructura").html(select)
          }
        }
      }
    });
  });

  $("#addPlanificacion").click(function () {
    let trimestre = $("#id_sub_subestructura").val();
    let secciones = $("#id_secciones").val();
    let sub_sub_estructura = $("#id_sub_subestructura").text();
    let type_seccion = $("#type-seccion option:selected").text();

    $.ajax({
      url: '/ajax/malla/',
      data: {
        'trimestre': trimestre
      },
      dataType: 'json',
      success: function (data) {

        if (data.status) {
          table_tt = `<div class="col-md-4 tt">
            <div class="table-responsive">
            <div class="d-flex justify-content-between">
              <h3 class="page-header">
                ${data.sub_sub_estructura} (${type_seccion})
              </h3>
              <a href="javascript:void(0);" class="text-danger btn-delete"><i class="fas fa-trash-alt"></i></a>
            </div>

              <input type="hidden" name="secciones[]" value="${secciones}">
              <input type="hidden" name="tt[]" value="${trimestre}">
              <input type="hidden" name="type_seccion[]" value="${type_seccion}">

              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">Unidad Curricular</th>
                    <th scope="col">Nº Hra. T.</th>
                    <th scope="col">Nº Hra. P.</th>
                    <th scope="col">Total Hra.</th>
                    <th scope="col">Nº Secc.</th>
                  </tr>
                </thead>
                <tbody>`
                  for(i in data.results){
                    table_tt += `<tr>
                      <td>${data.results[i].unidad_credito}</td>
                      <td>${data.results[i].horas_teoricas}</td>
                      <td>${data.results[i].horas_practicas}</td>
                      <td>${data.results[i].horas_total}</td>
                      <td>${secciones}</td>
                      <td></td>
                    </tr>`
                  }
                table_tt += `</tbody>
              </table>
            </div>
          </div>`
          $("#table_tt").append(table_tt);
        }
      }
    });
  });

  $("#periodo_form").on('submit', function(evt){
    let tt = $(".tt").toArray().length;
    if (tt < 1) {
      evt.preventDefault();
      alert('Por favor Agrega un trimestre a la planificación.')
    }

  });
  </script>
{% endblock %}